*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


.gambar{
    width: 700px;
    height: 400px;
    /* margin-left: 50px; */
    align-self: center;
    height: 90%;
    width: auto;
    padding-top: 30%;
    /* padding-left: 10%; */
}

.text-center-custom{
    margin-bottom: 10px;
    text-transform: uppercase ;
    overflow: hidden;
    text-overflow: clip;
    font-size: 40px;
    font-style: normal;
    font-family: Poppins-Bold;
    font-weight:lighter;
    text-align: center;
    background: transparent;
}

.form-control{
    font-family: “Duru Sans”, Verdana, sans-serif;
    width: calc(100% - 30px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.btn-1 {
    background-color: #585add;
    font-weight:lighter;
    font-family: “Duru Sans”, Verdana, sans-serif;
    color: #edecec;
    font-size:xx-small;
    border: 6px;
    padding: 8px;
    font-size: 17px;
    padding-inline: 20px;
    margin: 5px;
    float: right;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 2px 3px 0 rgba(84, 83, 83, 0.2), 0 4px 8px 0 rgba(75, 73, 73, 0.19);
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #67e0d6;
}


